:root {
  color-scheme: dark;
  --color-background-brand: oklch(77.46% 0.0622 217.47deg);
  --color-background-primary: oklch(32.44% 0.0229 264.18deg);
  --color-background-secondary: oklch(33.27% 0.0245 265.59deg);
  --color-background-tertiary: oklch(37.84% 0.0295 264.13deg);
  --color-content-brand: oklch(32.44% 0.0229 264.18deg);
  --color-content-primary: oklch(89.93% 0.0164 262.75deg);
  --color-border: oklch(37.92% 0.029 266.47deg);
  --color-red: oklch(60.61% 0.1206 15.34deg);
  --color-orange: oklch(69.29% 0.0963 38.24deg);
  --color-yellow: oklch(85.49% 0.0892 84.09deg);
  --color-green: oklch(76.83% 0.0749 131.06deg);
  --color-blue: oklch(77.46% 0.0622 217.47deg);
  --color-purple: oklch(69.65% 0.0591 248.69deg);
}
