:root {
  color-scheme: dark;
  --color-background-brand: oklch(77.46% 0.062 217.47);
  --color-background-primary: oklch(32.44% 0.023 264.18);
  --color-background-secondary: oklch(37.92% 0.029 266.47);
  --color-background-tertiary: oklch(37.92% 0.029 266.47);
  --color-content-brand: oklch(32.44% 0.023 264.18);
  --color-content-primary: oklch(89.93% 0.016 262.75);
  --color-border-primary: oklch(37.92% 0.029 266.47 / 20%);
  --color-border-secondary: oklch(37.92% 0.029 266.47);
  --color-red: oklch(60.61% 0.121 15.34);
  --color-orange: oklch(69.29% 0.096 38.24);
  --color-yellow: oklch(85.49% 0.089 84.09);
  --color-green: oklch(76.83% 0.075 131.06);
  --color-blue: oklch(77.46% 0.062 217.47);
  --color-purple: oklch(69.65% 0.059 248.69);
  --color-inverse: oklch(0% 0 0 / 15%);
}
