.github/
.netlify/
.vscode/
assets/
!assets/logo.png
coverage/
data/
dist/output/
docs/
extension/
icons/
node_modules/
scripts/
test/
themes/
tmp/
.env
.browserslistrc
.DS_Store
.editorconfig
.gitattributes
.gitignore
.simple-git-hooks.json
*.config.*
changelog.md
contributing.md
netlify.toml
pnpm-lock.yaml
pnpm-workspace.yaml
tsconfig.json
