.github/
.netlify/
.vscode/
assets/
!assets/logo.png
coverage/
data/
dist/output/
docs/
extension/
icons/
node_modules/
scripts/
test/
themes/
tmp/
.env
.browserslistrc
.commitlintrc
.editorconfig
.gitattributes
.gitignore
.prettierrc
.simple-git-hooks.json
.stylelintrc
changelog.config.json
changelog.md
contributing.md
eslint.config.ts
netlify.toml
pnpm-lock.yaml
svgo.config.js
tsconfig.json
vite.config.documentation.ts
vite.config.extension.ts
vite.config.preview.ts
vitest.config.ts
