.github/
.vscode/
coverage/
docs/
extension/
node_modules/
tmp/
.browserslistrc
.commitlintrc
.editorconfig
.gitattributes
.gitignore
.prettierrc
.simple-git-hooks.json
.stylelintrc
changelog.config.json
contributing.md
eslint.config.js
pnpm-lock.yaml
tsconfig.json
vite.config.docs.ts
vite.config.extension.ts
vitest.config.ts
