.wrapper {
  position: relative;
  container-type: inline-size;
}

.input-wrapper {
  position: relative;
  max-inline-size: 100%;
}

.input {
  inline-size: 100%;
  padding: calc(var(--space-xs) / 2) var(--space-s);
  color: var(--color-content-primary);
  text-align: start;
  outline: none;
  background: var(--color-background-tertiary);
  border: 1px solid var(--color-border);
  border-radius: var(--border-radius);
  transition: all 150ms;

  &:active,
  &:focus-visible {
    border-color: var(--color-background-brand);
  }
}

.icon {
  position: absolute;
  inset-block-start: 50%;
  inset-inline-end: var(--space-s);
  inline-size: var(--space-m);
  block-size: var(--space-m);
  pointer-events: none;
  transform: translateY(-50%);
}
