.button {
  min-inline-size: 180px;
  padding: calc(var(--space-xs) / 1.25) var(--space-l);
  text-align: center;
  text-decoration: none;
  cursor: pointer;
  border: 0;
  border-radius: var(--border-radius);
  outline: 0;
  transition: all 150ms ease;

  &:active {
    padding-block: calc(var(--space-xs) / 1.25 + 2px)
      calc(var(--space-xs) / 1.25 - 2px);
  }

  &:focus-visible {
    box-shadow: 0 0 0 2px var(--color-background-brand);
  }
}

.variant-primary {
  color: var(--color-content-brand);
  background: var(--color-background-brand);

  &:focus-visible,
  &:hover {
    background: color-mix(
      in oklch,
      oklch(0% 0 0) 15%,
      var(--color-background-brand)
    );
  }
}

.variant-secondary {
  color: var(--color-content-primary);
  background: var(--color-background-secondary);

  &:focus-visible,
  &:hover {
    background: color-mix(
      in oklch,
      oklch(0% 0 0) 15%,
      var(--color-background-secondary)
    );
  }
}
