.themes {
  padding-block: calc(var(--space-l) * 3);
  container-type: inline-size;
  background: var(--color-background-secondary);
}

.container {
  display: grid;
  grid-template-columns: [content] 1fr;
  gap: var(--space-xl);
  align-items: center;

  .illustration {
    order: 1;
    margin-block-start: var(--space-l);
  }

  @container (inline-size >= 768px) {
    grid-template-columns: [illustration] 7fr [themes] 5fr;
    gap: var(--space-l);

    .illustration {
      order: 0;
      margin-block-start: 0;
    }
  }
}
