.logo {
  inline-size: 128px;
  block-size: 128px;
  margin-block-end: var(--space-m);
  color: var(--color-content-primary);

  path {
    @media (prefers-reduced-motion: no-preference) {
      transition: fill 300ms;
    }
  }
}
