.dropdown {
  position: absolute;
  inset-block-start: calc(100% + var(--space-xs));
  z-index: 1;
  display: grid;
  grid-template-rows: repeat(
    calc((var(--total) + var(--columns) - 1) / var(--columns)),
    1fr
  );
  grid-template-columns: repeat(var(--columns), 1fr);
  grid-auto-flow: column;
  gap: var(--space-s) var(--space-xs);
  inline-size: min(calc(100vi - var(--space-s) * 2), 540px);
  max-block-size: 460px;
  padding: var(--space-s) var(--space-xs);
  overflow: scroll;
  background: var(--color-background-primary);
  border: 1px solid var(--color-border-secondary);
  border-radius: var(--border-radius);
  transform: scaleY(0);
  transform-origin: top center;
  animation: grow-down 250ms ease-in-out forwards;
  --columns: 1;

  @media (width >= 400px) {
    --columns: 2;
  }

  @media (width >= 600px) {
    --columns: 3;
  }
}

.dropdown-item {
  padding: calc(var(--space-xs) / 2);
  font: var(--font-s);
  color: var(--color-content-primary);
  text-align: start;
  background: var(--color-background-primary);
  border: 0;
  border-radius: var(--border-radius);
  outline: 0;
  transition: all 150ms ease-in-out;

  &:hover {
    background: var(--color-background-tertiary);
  }

  &:focus-visible {
    box-shadow: 0 0 0 2px var(--color-background-brand);
  }
}

@keyframes grow-down {
  0% {
    transform: scaleY(0);
  }

  80% {
    transform: scaleY(1.1);
  }

  100% {
    transform: scaleY(1);
  }
}
