.demo {
  padding-block: calc(var(--space-l) * 2);
  background: var(--color-background-secondary);
}

.demo-view {
  display: grid;
  grid-template-columns: 1fr;
  gap: var(--space-xl);
  container-type: inline-size;

  @container (inline-size >= 980px) {
    grid-template-columns: 1fr 460px;
  }
}

.description {
  max-inline-size: 400px;
  margin-inline: auto;
}

.selection {
  display: flex;
  flex-wrap: wrap;
  gap: var(--space-xl);
  align-items: end;

  @container (inline-size >= 560px) {
    display: grid;
    grid-template-columns: minmax(auto, 360px) auto 1fr;
    gap: var(--space-m);
  }
}

.code-example {
  position: sticky;
  inset-block-start: var(--space-m);
}
