.icons {
  padding-block: calc(var(--space-l) * 3);
  container-type: inline-size;
  background: var(--color-background-primary);
}

.illustration {
  display: flex;
  flex-wrap: nowrap;
  align-items: center;
}

.container {
  display: grid;
  grid-template-columns: [content] 1fr;
  gap: var(--space-xl);

  .illustration {
    justify-content: start;
    margin-block-start: var(--space-l);
  }

  @container (inline-size >= 768px) {
    grid-template-columns: [icons] 5fr [illustration] 7fr;
    gap: var(--space-l);

    .illustration {
      justify-content: end;
      margin-block-start: 0;
    }
  }
}
