.list {
  display: grid;
  grid-template-columns: repeat(auto-fill, [icon] 68px);
  gap: var(--space-xs);
  padding-inline-start: 0;
  margin-block: var(--space-xl);
  list-style: '';

  @container (inline-size >= 980px) {
    margin-block: var(--space-l);
  }
}
