name: Release

on:
  push:
    tags:
      - 'v*'
  workflow_dispatch:

permissions:
  id-token: write
  contents: write
  packages: write
  models: read

jobs:
  release:
    name: Release
    runs-on: ubuntu-latest

    steps:
      - name: Harden Runner
        uses: step-security/harden-runner@5ef0c079ce82195b2a36a210272d6b661572d83e # v2.14.2
        with:
          egress-policy: audit

      - name: Checkout
        uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd # v6.0.2
        with:
          fetch-depth: 0

      - name: Install Tools
        uses: ./.github/actions/install-tools

      - name: Install Dependencies
        uses: ./.github/actions/install-dependencies

      - name: Build Extension
        run: pnpm run build

      - name: Package extension
        run: pnpm release:package

      - name: Publish to VS Code Marketplace
        run: |
          pnpm vsce publish --no-dependencies --pat ${{ secrets.VSCE_TOKEN }}

      - name: Publish to Open VSX
        run: |
          pnpm ovsx publish eyecons-$(pnpm pkg get version | tr -d '"').vsix -p ${{ secrets.OVSX_TOKEN }}

      - name: Create GitHub Release
        run: pnpm changelogithub
        env:
          GITHUB_TOKEN: ${{secrets.GITHUB_TOKEN}}

      - name: Generate Social Changelog
        continue-on-error: true
        run: |
          pnpm social-changelog \
            --org azat-io \
            --repo eyecons \
            --name "Eyecons" \
            > social-post.txt
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}

      - name: Post to Social Media
        continue-on-error: true
        run: |
          pnpm crosspost \
            --twitter \
            --bluesky \
            --mastodon \
            --file social-post.txt
        env:
          TWITTER_API_CONSUMER_KEY: ${{ secrets.TWITTER_API_CONSUMER_KEY }}
          TWITTER_API_CONSUMER_SECRET:
            ${{ secrets.TWITTER_API_CONSUMER_SECRET }}
          TWITTER_ACCESS_TOKEN_KEY: ${{ secrets.TWITTER_ACCESS_TOKEN_KEY }}
          TWITTER_ACCESS_TOKEN_SECRET:
            ${{ secrets.TWITTER_ACCESS_TOKEN_SECRET }}
          BLUESKY_HOST: ${{ secrets.BLUESKY_HOST }}
          BLUESKY_IDENTIFIER: ${{ secrets.BLUESKY_IDENTIFIER }}
          BLUESKY_PASSWORD: ${{ secrets.BLUESKY_PASSWORD }}
          MASTODON_ACCESS_TOKEN: ${{ secrets.MASTODON_ACCESS_TOKEN }}
          MASTODON_HOST: ${{ secrets.MASTODON_HOST }}
